$dark: #3c4040;
$dark-trans: rgba(60, 64, 64, 0.7);
$light-trans: rgba(239, 230, 221, 0.7);
$light: #efe6dd;
$gold: #c19e47;
$fail: #ff7070;
$info: #4f8dcf;
$success: #5cb270;
$Insight1: #db1f26;
$Insight2: #000000;
$Insight3: #ffffff;
$Insight-Grad: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(219,31,38,1) 100%);
