@import './assets/base';

button {
  border: solid 1px;
  border-color: var(--TX-Color);
  border-radius: 0.2em;
  // margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &:active {
    background: $fail;
    color: $light;
  }
  &.active {
    background: $Insight-Grad;
    color: $light;
  }
  &:disabled {
    opacity: 0.5;
  }
  @media screen and (min-width: 641px) {
    svg {
      font-size: 2em;
    }
  }
  @media screen and (max-width: 641px) {
        h3{
      font-size: 1em;
    }
  }
}

#main {
  &.dark {
    --BG-Color: #3c4040;
    --BG-trans: rgba(60, 64, 64, 0.9);
    --TX-Color: #efe6dd;
    background-color: $dark;
    color: $light;
    transition: background-color 500ms ease-in-out, color 500ms;
  }
  &.light {
    --BG-Color: #efe6dd;
    --BG-trans: rgba(239, 230, 221, 0.7);
    --TX-Color: #3c4040;
    background-color: $light;
    color: $dark;
    transition: background-color 500ms ease-in-out, color 500ms;
  }
}
.modal {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--BG-trans);
  color: var(--TX-Color);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transition: background-color 500ms ease-in-out, color 500ms;

  .modal-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 75%;
    width: 75%;
    background: var(--BG-Color);
    color: var(--TX-Color);
    filter: drop-shadow(10px 10px 10px var(--TX-Color));
    border-radius: 1em;
    border: solid 1px var(--TX-Color);
    text-align: center;
    transition: background-color 500ms ease-in-out, color 500ms;
  }
}

.error{
  color: $fail;
  // margin: auto;
}